<div id="fullscreen_bg" class="fullscreen_bg">
  <div class="container">
    <div class="form-signin" id="template">
      <img src="../../../assets/svg/recover-pass.svg" alt="" class="svg">
      <h1 class="form-signin-heading text-white">Recuperar contraseña</h1>
    </div>

    <div *ngIf="this.fase==1">
      <form class="form-signin" (ngSubmit)="onSubmit(form2)" #form2="ngForm">
          <input type="text" name="email" class="form-control" placeholder="Usuario" required="" autofocus="" [(ngModel)]="this.recover.email" #email="ngModel">          
          <input class="btn btn-lg btn-dark btn-block" type="submit" name="submit" [disabled]="form2.invalid">
      </form>
    </div>
    <div *ngIf="this.fase==2">
      <form class="form-signin" (ngSubmit)="onSubmitQuestion(form3)" #form3="ngForm">
        <div *ngFor="let item of this.preguntas; index">
          
          <label [for]="'pregunta'+item['IdPregunta']" class="bmd-label-floating">{{ item['Pregunta'] }}</label>
          <input type="text" [id]="'pregunta'+item['IdPregunta']" [name]="'pregunta'+item['IdPregunta']" class="form-control" placeholder="Respuesta" required="" autofocus="" [value]="'pregunta'+item['IdPregunta']" [(ngModel)]="item['Respuesta']">          
        </div>
        <input class="btn btn-lg btn-dark btn-block" type="submit" name="submit" [disabled]="form3.invalid">
      </form>
    </div>

      <div class="alert alert-danger" role="alert" *ngIf="errorRecover.mensaje.length != 0">
          <button type="button" class="close" (click)="errorRecover.mensaje = ''" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="alert-heading">Error!</h4>
          <hr>
          <p>{{ errorRecover.mensaje }}</p>
      </div>
  </div>
</div>