<div class="modal fade" id="moduloModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog  modal-xl" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h3 class="modal-title" id="exampleModalLabel" class="text-success">{{ this.moduloService.selectEntidad.IdModulo ? 'Editar Modulo '+this.moduloService.selectEntidad.IdModulo : 'Nuevo Modulo' }}</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <form action="" #moduloForm="ngForm" (ngSubmit)="guardarEntidad(moduloForm)">
                  <input type="hidden" id="IdModulo" name="IdModulo" class="form-control" [(ngModel)]="this.moduloService.selectEntidad.IdModulo">
                  <!-- <strong><label for="" class="form-control text-primary subtitle">Información General</label></strong> -->
                  
                  <div class="form-row">
                      <div class="form-group col-6">
                          <label for="Nombre" class="bmd-label-floating">Nombre Modulo</label>
                          <input type="text" id="Nombre" name="Nombre" #Nombre="ngModel" class="form-control" required="" [(ngModel)]="this.moduloService.selectEntidad.Nombre">
                          <small class="text-warning" *ngIf="moduloForm.submitted && Nombre.invalid">Campo requerido</small>
                      </div>
                      <div class="form-group col-6">
                          <label for="OrdenMenu" class="bmd-label-floating">Orden en Menu</label>
                          <input type="text" id="OrdenMenu" name="OrdenMenu" #OrdenMenu="ngModel" class="form-control" required [(ngModel)]="this.moduloService.selectEntidad.OrdenMenu">
                          <small class="text-warning" *ngIf="moduloForm.submitted && OrdenMenu.invalid">Campo requerido</small>
                      </div>                      
                  </div>
                  
                  <div class="modal-footer">
                      <button type="button" class="btn btn-raised btn-danger" data-dismiss="modal">Cancelar <i class="fa fa-times"></i></button> &nbsp;
                      <button type="submit" class="btn btn-raised btn-success">Guardar <i class="fa fa-save"></i></button>
                  </div>
              </form>
          </div>
          <!-- <div class="modal-footer">
              <button type="button" class="btn btn-raised btn-danger" data-dismiss="modal">Cancelar <i class="fa fa-times"></i></button> &nbsp;
              <button type="button" class="btn btn-raised btn-success">Save changes <i class="fa fa-save"></i></button>
          </div> -->
      </div>
  </div>
</div>