<section id="usuarioroles">
  <div class="container">
      <div class="col-sx-12 col-sm-12 col-md-12">
        <div class="text-center" *ngIf="this.usuario">
          <h1 class="display-8 text-primary">
            Usuario: {{this.usuario["IdUsuario"]}}
          </h1>
        </div>
      </div>

        <div class="row">
            <div class="col-xs-3">
                <div class="nav flex-column nav-pills tab" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Roles</a>
                    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Preguntas de recuperación</a>
                </div>
                <!-- <ul class="nav nav-tabs tabs-left sideways">
                    <li class="active"><a href="#v-pills-home" data-toggle="tab">Home</a></li>
                    <li><a href="#v-pills-profile" data-toggle="tab">Profile</a></li>
                  </ul> -->
            </div>
            <div class="col-9">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        
                        <div class="row" style="margin-top: 20px">
                            <div class="col-3 col-sm-3 col-md-3 col-lg-2">
                                <button class="btn btn-raised btn-secondary form-control" data-toggle="modal" data-target="#usuarioroleModal" (click)="limpiarForm()">Nuevo <i class="fa fa-plus"></i></button>
                            </div>
                            <div class="col-9 col-sm-9 col-md-9 col-lg-10">
                                <input type="search" class="form-control" placeholder="Buscar" (ngModelChange)="funcSearch($event)" [(ngModel)]="buscar">
                            </div>
                        </div>
                        <div class="card form-control-rc">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col" data-toggle="Role" (click)="funcSort($event)">Role <i class="{{ 'Role' == fieldSort ? (fieldSortDirection == 'desc' ? 'fa fa-long-arrow-down' : (fieldSortDirection == 'asc' ? 'fa fa-long-arrow-up' : '')) : ''}}"></i></th>                      
                                        <th scope="col">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let entidad of entidadTable | paginate: { itemsPerPage: 10, currentPage: page }">
                                        <td>{{ entidad.Role }}</td>                      
                                        <td data-toggle="modal" data-target="#alertModal" (click)="setEntidadDel(entidad)">
                                            <i class="fa fa-trash text-danger"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente" autoHide="true">
                            </pagination-controls>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        
                        <div class="row" style="margin-top: 20px">
                            <div class="col-3 col-sm-3 col-md-3 col-lg-2">
                                <button class="btn btn-raised btn-secondary form-control" data-toggle="modal" data-target="#usuariopreguntaModal" (click)="limpiarForm()">Nuevo <i class="fa fa-plus"></i></button>
                            </div>
                            <!-- <div class="col-9 col-sm-9 col-md-9 col-lg-10">
                                <input type="search" class="form-control" placeholder="Buscar" (ngModelChange)="funcSearch($event)" [(ngModel)]="buscar">
                            </div> -->
                        </div>
                        <div class="card form-control-rc">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col" data-toggle="IdPregunta" (click)="funcSort($event)">Código <i class="{{ 'IdPregunta' == fieldSort ? (fieldSortDirection == 'desc' ? 'fa fa-long-arrow-down' : (fieldSortDirection == 'asc' ? 'fa fa-long-arrow-up' : '')) : ''}}"></i></th>                      
                                        <th scope="col" data-toggle="Pregunta" (click)="funcSort($event)">Pregunta <i class="{{ 'Pregunta' == fieldSort ? (fieldSortDirection == 'desc' ? 'fa fa-long-arrow-down' : (fieldSortDirection == 'asc' ? 'fa fa-long-arrow-up' : '')) : ''}}"></i></th>                      
                                        <th scope="col" data-toggle="OrdenPregunta" (click)="funcSort($event)">Orden <i class="{{ 'OrdenPregunta' == fieldSort ? (fieldSortDirection == 'desc' ? 'fa fa-long-arrow-down' : (fieldSortDirection == 'asc' ? 'fa fa-long-arrow-up' : '')) : ''}}"></i></th>                      
                                        <th scope="col">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let entidad of entidadTablePregunta | paginate: { itemsPerPage: 10, currentPage: pagePregunta }">
                                        <td>{{ entidad.IdPregunta }}</td>                      
                                        <td>{{ entidad.Pregunta }}</td>                      
                                        <td>{{ entidad.OrdenPregunta }}</td>                      
                                        <td data-toggle="modal" data-target="#alertModal" (click)="setEntidadDel(entidad)">
                                            <i class="fa fa-trash text-danger"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente" autoHide="true">
                            </pagination-controls>
                        </div>

                    </div>
                </div>
            </div>
        </div>        

      
  </div>
</section>



<!-- Modal Alert -->
<div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog  modal-md" role="document">
      <div class="modal-content modal-alert">
          <div class="modal-body">
              Confirma que desea eliminar el role {{ this.entidadDelete['Role'] }} del usuario {{ this.entidadDelete['IdUsuario'] }}?
              <hr>
              <div class="row text-center">
                  <button type="button" class="btn btn-secondary btn-sm col-4 offset-1" data-dismiss="modal">Cancelar <i class="fa fa-times"></i></button>
                  <button type="button" class="btn btn-danger btn-sm col-4 offset-2" data-dismiss="modal" (click)="eliminarEntidad(this.entidadDelete['IdUsuario'],this.entidadDelete['IdRole'])">Eliminar <i class="fa fa-trash"></i></button>
              </div>
          </div>
      </div>
  </div>
</div>

<app-cu-usuario-role [IdUsuarioParent]="this.id"></app-cu-usuario-role>
<app-cu-usuario-pregunta [IdUsuarioParent]="this.id"></app-cu-usuario-pregunta>