<p>
    
</p>

<div class="container my-content">
    <h1>Proyecto del Curso: Analisis de Sistemas II</h1>
    <img src="../../../assets/img/FastApi_Angular-2.png" alt="" style="max-width: 60%; height: auto;">
    <br><br>
    <p>Este es un proyecto de un Sistema de Nómina, para el curso de Análisis de Sistemas II, de la carrera de Ingeniería en Sistemas de la Universidad Mariano Gálvez de Guatemala.</p>
    <p>Este proyecto está construido con tecnología de FastAPI, siendo este un framework del lenguaje de programación Python (BackEnd), realiza la conexión a una base de datos MySQL de la cual se extraen los datos y se expone la información para ser servida al FrontEnd. 
        Esta aplicación es la que contiene la lógica del negocio ya que es la encargada de validar los datos y mostrarlos en la estructura necesaria.</p>
    <p>También se tiene la tecnología Angular (FrontEnd), el cual es un framework de JavaScript que se encarga de la construcción de las vistas HTML, CSS y JAVASCRIPT.
        Se encarga de manejar las rutas, obtener los datos proporcionados por el usuario y guardarlos en la base de datos a travéz de llamadas ApiRest al BackEnd.</p>
</div>

