<p>
    
</p>

<div class="container my-content">
    <h1>Proyecto del Curso: Analisis de Sistemas II</h1>
    <img src="../../../assets/img/FastApi_Angular-2.png" alt="" style="max-width: 60%; height: auto;">
    <br><br>
    <p>Este es un proyecto de Nomina, para el curso de Analisis de Sistemas II, de la carrera de Ingenniera en Sistemas de la Universidad Mariano Galvez de Guatemala.</p>
    <p>Este proyecto esta consutrido con tecnologia de FastAPI, con lenguaje de programación Python (BackEnd), el cual se conecta a una base de datos MySQL de la cual se extraen los datos y se expone la información para ser servida al FrontEnd. 
        Esta aplicacioin es la que contiene la logica del negocio ya que es la encargada de validad los datos y mostrarlos en la estrucura necesaria.</p>
    <p>Tambien se tiene la tecnologia Angular (FrontEnd), el cual es un framework de JavaScript que se encarga de la construcción de las vistas HTML, CSS y JAVASCRIPT.
        Se encarga de manejar las rutas, obtener los datos proporcionados por el usuario y guardarlos en la base de datos a travez de llamadas ApiRest al BackEnd.</p>
</div>