<div class="modal fade" id="puestoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog  modal-xl" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h3 class="modal-title" id="exampleModalLabel" class="text-success">{{ this.puestoService.selectEntidad.IdPuesto ? 'Editar Puesto '+this.puestoService.selectEntidad.IdPuesto : 'Nuevo Puesto' }}</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <form action="" #entidadForm="ngForm" (ngSubmit)="guardarEntidad(entidadForm)">
                  <input type="hidden" id="IdPuesto" name="IdPuesto" class="form-control" [(ngModel)]="this.puestoService.selectEntidad.IdPuesto">
                  <!-- <strong><label for="" class="form-control text-primary subtitle">Información General</label></strong> -->
                  <div class="form-row">
                    <div class="form-group col-12">
                        <label class="bmd-label-static">Departamento</label>
                        <select name="IdDepartamento" id="IdDepartamento" class="form-control" [(ngModel)]="this.puestoService.selectEntidad.IdDepartamento">
                          <option value="{{departamento.IdDepartamento}}" *ngFor="let departamento of this.puestoService.departamentos">{{ departamento.Nombre }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-row">
                      <div class="form-group col-12">
                          <label for="Nombre" class="bmd-label-floating">Nombre Puesto</label>
                          <input type="text" id="Nombre" name="Nombre" #Nombre="ngModel" class="form-control" required="" [(ngModel)]="this.puestoService.selectEntidad.Nombre">
                          <small class="text-warning" *ngIf="entidadForm.submitted && Nombre.invalid">Campo requerido</small>
                      </div>                    
                  </div>
                  
                  <div class="modal-footer">
                      <button type="button" class="btn btn-raised btn-danger" data-dismiss="modal">Cancelar <i class="fa fa-times"></i></button> &nbsp;
                      <button type="submit" class="btn btn-raised btn-success">Guardar <i class="fa fa-save"></i></button>
                  </div>
              </form>
          </div>
          
      </div>
  </div>
</div>