<div class="modal fade" id="proyectoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel" class="text-success">{{ this.proyService.selectProyecto.idproyecto ? 'Editar Proyecto '+this.proyService.selectProyecto.idproyecto : 'Nuevo Proyecto' }}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" #proyectoForm="ngForm" (ngSubmit)="guardarProyecto(proyectoForm)">
                    <input type="hidden" id="idproyecto" name="idproyecto" class="form-control" [(ngModel)]="this.proyService.selectProyecto.idproyecto">
                    <strong><label for="" class="form-control text-primary subtitle">Información General</label></strong>
                    <div class="form-group">
                        <label for="nombre" class="bmd-label-floating">Nombre proyecto</label>
                        <input type="text" id="nombre" name="nombre" #nombre="ngModel" class="form-control" required="" [(ngModel)]="this.proyService.selectProyecto.nombre">
                        <small class="text-warning" *ngIf="proyectoForm.submitted && nombre.invalid">Campo requerido</small>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-3">
                            <label for="nombreedificio" class="bmd-label-floating">Nombre del edificio</label>
                            <input type="text" id="nombreedificio" name="nombreedificio" #nombreedificio="ngModel" class="form-control" required [(ngModel)]="this.proyService.selectProyecto.nombreedificio">
                            <small class="text-warning" *ngIf="proyectoForm.submitted && nombreedificio.invalid">Campo requerido</small>
                        </div>
                        <div class="form-group col-4">
                            <label for="entidadvendedora" class="bmd-label-floating">Entidad vendedora</label>
                            <input type="text" id="entidadvendedora" name="entidadvendedora" #entidadvendedora="ngModel" class="form-control" required [(ngModel)]="this.proyService.selectProyecto.entidadvendedora">
                            <small class="text-warning" *ngIf="proyectoForm.submitted && entidadvendedora.invalid">Campo requerido</small>
                        </div>
                        <div class="form-group col-5">
                            <label for="direccion" class="bmd-label-floating">Dirección del edificio</label>
                            <input type="text" id="direccion" name="direccion" #direccion="ngModel" class="form-control" required [(ngModel)]="this.proyService.selectProyecto.direccion">
                            <small class="text-warning" *ngIf="proyectoForm.submitted && direccion.invalid">Campo requerido</small>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-2">
                            <label for="area" class="bmd-label-floating">Área del edificio (m²)</label>
                            <input type="number" id="area" name="area" #area="ngModel" class="form-control" required [(ngModel)]="this.proyService.selectProyecto.area">
                            <small class="text-warning" *ngIf="proyectoForm.submitted && area.invalid">Campo requerido</small>
                        </div>
                        <div class="form-group col-2">
                            <label for="finca" class="bmd-label-floating">Finca</label>
                            <input type="text" id="finca" name="finca" class="form-control" [(ngModel)]="this.proyService.selectProyecto.finca">
                        </div>
                        <div class="form-group col-2">
                            <label for="folio" class="bmd-label-floating">Folio</label>
                            <input type="text" id="folio" name="folio" class="form-control" [(ngModel)]="this.proyService.selectProyecto.folio">
                        </div>
                        <div class="form-group col-2">
                            <label for="libro" class="bmd-label-floating">Libro</label>
                            <input type="text" id="libro" name="libro" class="form-control" [(ngModel)]="this.proyService.selectProyecto.libro">
                        </div>
                        <div class="form-group col-4">
                            <label for="fechavencimiento" class="bmd-label-static">Fecha vencimiento proyecto</label>
                            <input type="date" id="fechavencimiento" name="fechavencimiento" #fechavencimiento="ngModel" class="form-control" required [(ngModel)]="this.proyService.selectProyecto.fechavencimiento">
                            <small class="text-warning" *ngIf="proyectoForm.submitted && fechavencimiento.invalid">Campo requerido</small>
                        </div>
                    </div>
                    <strong><label for="" class="form-control text-primary subtitle">Configuración</label></strong>
                    <div class="form-row">
                        <div class="form-group col-4">
                            <label for="dialimite" class="bmd-label-floating">Día de inicio mora</label>
                            <input type="number" id="dialimite" name="dialimite" #dialimite="ngModel" class="form-control" required [(ngModel)]="this.proyService.selectProyecto.dialimite">
                            <small class="text-warning" *ngIf="proyectoForm.submitted && dialimite.invalid">Campo requerido</small>
                        </div>
                        <div class="form-group col-4">
                            <label for="porcentajemora" class="bmd-label-floating">Porcentaje de mora %</label>
                            <input type="number" id="porcentajemora" name="porcentajemora" #porcentajemora="ngModel" class="form-control" required [(ngModel)]="this.proyService.selectProyecto.porcentajemora">
                            <small class="text-warning" *ngIf="proyectoForm.submitted && porcentajemora.invalid">Campo requerido</small>
                        </div>
                        <div class="form-group col-4">
                            <label for="valortipocambio" class="bmd-label-floating">Tipo de cambio</label>
                            <input type="number" id="valortipocambio" name="valortipocambio" #valortipocambio="ngModel" class="form-control" required [(ngModel)]="this.proyService.selectProyecto.valortipocambio">
                            <small class="text-warning" *ngIf="proyectoForm.submitted && valortipocambio.invalid">Campo requerido</small>
                        </div>
                    </div>
                    <strong><label for="" class="form-control text-primary subtitle">Representante legal</label></strong>
                    <div class="form-row">
                        <div class="form-group col-3">
                            <label for="nombre_rep" class="bmd-label-floating">Nombre</label>
                            <input type="text" id="nombre_rep" name="nombre_rep" #nombre_rep="ngModel" class="form-control" required [(ngModel)]="this.proyService.selectProyecto.nombre_rep">
                            <small class="text-warning" *ngIf="proyectoForm.submitted && nombre_rep.invalid">Campo requerido</small>
                        </div>
                        <div class="form-group col-3">
                            <label for="fechanac_rep" class="bmd-label-static">Fecha de nacimiento</label>
                            <input type="date" id="fechanac_rep" name="fechanac_rep" #fechanac_rep="ngModel" class="form-control" required [(ngModel)]="this.proyService.selectProyecto.fechanac_rep">
                            <small class="text-warning" *ngIf="proyectoForm.submitted && fechanac_rep.invalid">Campo requerido</small>
                        </div>
                        <div class="form-group col-3">
                            <label for="estadocivil_rep" class="bmd-label-floating">Estado civil</label>
                            <input type="text" id="estadocivil_rep" name="estadocivil_rep" #estadocivil_rep="ngModel" class="form-control" required [(ngModel)]="this.proyService.selectProyecto.estadocivil_rep">
                            <small class="text-warning" *ngIf="proyectoForm.submitted && estadocivil_rep.invalid">Campo requerido</small>
                        </div>
                        <div class="form-group col-3">
                            <label for="dpi_rep" class="bmd-label-floating">DPI</label>
                            <input type="text" id="dpi_rep" name="dpi_rep" #dpi_rep="ngModel" class="form-control" required [(ngModel)]="this.proyService.selectProyecto.dpi_rep">
                            <small class="text-warning" *ngIf="proyectoForm.submitted && dpi_rep.invalid">Campo requerido</small>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label for="descripcion_rep" class="bmd-label-floating">Descripción del representante</label>
                            <input type="text" id="descripcion_rep" name="descripcion_rep" #descripcion_rep="ngModel" class="form-control" required [(ngModel)]="this.proyService.selectProyecto.descripcion_rep">
                            <small class="text-warning" *ngIf="proyectoForm.submitted && descripcion_rep.invalid">Campo requerido</small>
                        </div>
                    </div>
                    <strong><label for="" class="form-control text-primary subtitle">Acta Notarial</label></strong>
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label for="fechaactanotarial" class="bmd-label-static">Fecha del acta</label>
                            <input type="date" id="fechaactanotarial" name="fechaactanotarial" #fechaactanotarial="ngModel" class="form-control" required [(ngModel)]="this.proyService.selectProyecto.fechaactanotarial">
                            <small class="text-warning" *ngIf="proyectoForm.submitted && fechaactanotarial.invalid">Campo requerido</small>
                        </div>
                        <div class="form-group col-6">
                            <label for="notario" class="bmd-label-floating">Nombre notario</label>
                            <input type="text" id="notario" name="notario" #notario="ngModel" class="form-control" required [(ngModel)]="this.proyService.selectProyecto.notario">
                            <small class="text-warning" *ngIf="proyectoForm.submitted && notario.invalid">Campo requerido</small>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-3">
                            <label for="registro" class="bmd-label-floating">Registro</label>
                            <input type="text" id="registro" name="registro" #registro="ngModel" class="form-control" required [(ngModel)]="this.proyService.selectProyecto.registro">
                            <small class="text-warning" *ngIf="proyectoForm.submitted && registro.invalid">Campo requerido</small>
                        </div>
                        <div class="form-group col-3">
                            <label for="folio_reg" class="bmd-label-floating">Folio</label>
                            <input type="text" id="folio_reg" name="folio_reg" #folio_reg="ngModel" class="form-control" required [(ngModel)]="this.proyService.selectProyecto.folio_reg">
                            <small class="text-warning" *ngIf="proyectoForm.submitted && folio_reg.invalid">Campo requerido</small>
                        </div>
                        <div class="form-group col-3">
                            <label for="libro_reg" class="bmd-label-floating">Libro</label>
                            <input type="text" id="libro_reg" name="libro_reg" #libro_reg="ngModel" class="form-control" required [(ngModel)]="this.proyService.selectProyecto.libro_reg">
                            <small class="text-warning" *ngIf="proyectoForm.submitted && libro_reg.invalid">Campo requerido</small>
                        </div>
                        <div class="form-group col-3">
                            <label for="fecha_reg" class="bmd-label-static">fecha de registro</label>
                            <input type="date" id="fecha_reg" name="fecha_reg" #fecha_reg="ngModel" class="form-control" required [(ngModel)]="this.proyService.selectProyecto.fecha_reg">
                            <small class="text-warning" *ngIf="proyectoForm.submitted && fecha_reg.invalid">Campo requerido</small>
                        </div>
                    </div>
                    <strong><label for="" class="form-control text-primary subtitle">Correo</label></strong>
                    <div class="form-row">
                        <div class="form-group col-12">
                            <!-- <app-ngx-editor [placeholder]="'Enter text here...'" [spellcheck]="true" rows="12"></app-ngx-editor> -->
                            <angular-editor id="textocorreo" name="textocorreo" placeholder="'Texto'" rows="12" [(ngModel)]="this.proyService.selectProyecto.textocorreo"></angular-editor>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-raised btn-danger" data-dismiss="modal">Cancelar <i class="fa fa-times"></i></button> &nbsp;
                        <button type="submit" class="btn btn-raised btn-success">Guardar <i class="fa fa-save"></i></button>
                    </div>
                </form>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-raised btn-danger" data-dismiss="modal">Cancelar <i class="fa fa-times"></i></button> &nbsp;
                <button type="button" class="btn btn-raised btn-success">Save changes <i class="fa fa-save"></i></button>
            </div> -->
        </div>
    </div>
</div>